Repository dmaisano/Leet-Code: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pytest, run-vitest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: run-pytest
        name: Run pytest
        entry: pytest
        language: python
        types: [python]
      - id: run-vitest
        name: Run vitest
        entry: vitest
        language: node
        types: [file]
        files: \.(js|ts)$

chore: added stock_max hackerank problem
  .pre-commit-config.yaml
  hackerank/__init__.py
  hackerank/stock_max/__init__.py
  hackerank/stock_max/stock_max.png
  hackerank/stock_max/stock_max.py
  hackerank/tests/__init__.py
  hackerank/tests/test_stock_max.py
Due: run-pytest

chore: added longest_palindrom and "normalized_file_name_from_url" util
  algorithms/longest_palindrome.py
  algorithms/tests/test_longest_palindrome.py
  mypy.ini
  poetry.lock
  pyproject.toml
  scripts/url.py
Due: run-pytest

chore: added submissions
  TODO.md
  algorithms/fizz_buzz.py
  algorithms/hamming_distance.py
  algorithms/number_complement.py
  algorithms/tests/test_fizz_buzz.py
  algorithms/tests/test_hamming_distance.py
  algorithms/tests/test_number_complement.py
Due: run-pytest

feat: added Kalepa live interview problem; added new submissions; added TSX
  .vscode/launch.json
  algorithms/greatest_common_divisor_of_strings.py
  algorithms/merge_strings_alternately.py
  algorithms/tests/test_greatest_common_divisor_of_strings.py
  algorithms/tests/test_merge_strings_alternately.py
  interview_questions/getty_images_scraper.py
  package.json
  package.json.old
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
Due: run-pytest

chore: updated comment
  interview_questions/getty_images_scraper.py
Due: run-pytest

chore: added test
  interview_questions/tests/test_getty_images_scraper.py
  poetry.lock
  pyproject.toml
Due: run-pytest

chore: added submissions
  hackerank/counting_movies.py
  hackerank/first_unique_character.py
  hackerank/maximizing_profit_from_stocks.py
  hackerank/tests/test_counting_movies.py
  hackerank/tests/test_first_unique_character.py
  hackerank/tests/test_maximizing_profit_from_stocks.py
Due: run-pytest

feat: added url to filename script
  package.json
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
  scripts/url-to-filename.ts
  scripts/url.py
  tsconfig.json
Due: run-pytest, run-vitest

.
  algorithms/binary_search.py
  algorithms/fizz_buzz.py
  algorithms/insert_greatest_common_divisors_in_linked_list.py
  algorithms/linked_list_in_binary_tree.py
  algorithms/reverse_linked_list.py
  algorithms/tests/test_binary_search.py
  algorithms/tests/test_insert_greatest_common_divisors_in_linked_list.py
  algorithms/tests/test_linked_list_in_binary_tree.py
  algorithms/tests/test_reverse_linked_list.py
  algorithms/tests/test_valid_parentheses.py
  algorithms/valid_parentheses.py
  hackerank/maximizing_profit_from_stocks.py
  hackerank/stock_max/stock_max.py
  hackerank/tests/test_stock_max.py
  interview_questions/getty_images_scraper.py
Due: run-pytest

feat: added SQL files
  .gitignore
  .prettierrc
  .vscode/settings.json
  database/combine-two-tables.sql
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  scripts/drop-all-tables.sql
Due: none

.
  .nvmrc
  algorithms/insert_greatest_common_divisors_in_linked_list.py
  algorithms/linked_list_in_binary_tree.py
  algorithms/reverse_linked_list.py
  algorithms/spiral_matrix_iv.py
  algorithms/tests/test_insert_greatest_common_divisors_in_linked_list.py
  algorithms/tests/test_spiral_matrix_iv.py
  algorithms/utils/__init__.py
  algorithms/utils/sll.py
Due: run-pytest

feat: added advent of code project
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  advent_of_code/2023/day_1/day_1.go
  advent_of_code/2023/day_1/day_1.txt
  advent_of_code/go.mod
  advent_of_code/utils/read_file_lines.go
  package.json
Due: none

chore: added additional solutions
  advent_of_code/2023/day_1/day_1.go
  advent_of_code/2023/day_2/day_2.go
  advent_of_code/2023/day_2/day_2.txt
  advent_of_code/2023/day_3/day_3.go
  advent_of_code/2023/day_3/day_3.txt
Due: none

.
  algorithms/longest_palindrome.py
  algorithms/longest_subarray_with_maximum_bitwise_and.py
  algorithms/tests/test_keyboard_row.py
  algorithms/tests/test_longest_subarray_with_maximum_bitwise_and.py
Due: run-pytest

.
  algorithms/tests/test_array_partition.py
  algorithms/tests/test_baseball_game.py
  algorithms/tests/test_distribute_candies.py
  algorithms/tests/test_encode_and_decode_tinyurl.py
  algorithms/tests/test_fibonacci_number.py
  algorithms/tests/test_fizz_buzz.py
  algorithms/tests/test_flipping_an_image.py
  algorithms/tests/test_hamming_distance.py
  algorithms/tests/test_insert_delete_getrandom_o1.py
  algorithms/tests/test_integer_to_english_words.py
  algorithms/tests/test_integer_to_roman.py
  algorithms/tests/test_jewels_and_stones.py
  algorithms/tests/test_keyboard_row.py
  algorithms/tests/test_linked_list_in_binary_tree.py
  algorithms/tests/test_longest_palindrome.py
  algorithms/tests/test_max_consecutive_ones.py
  algorithms/tests/test_maximum_depth_of_binary_tree.py
  algorithms/tests/test_merge_strings_alternately.py
  algorithms/tests/test_number_complement.py
  algorithms/tests/test_partitioning_into_minimum_number_of_deci_binary_numbers.py
  algorithms/tests/test_revere_string.py
  algorithms/tests/test_reverse_integer.py
  algorithms/tests/test_reverse_linked_list.py
  algorithms/tests/test_robot_return_to_origin.py
  algorithms/tests/test_valid_parentheses.py
  hackerrank/__init__.py
  hackerrank/counting_movies.py
  hackerrank/first_unique_character.py
  hackerrank/maximizing_profit_from_stocks.py
  hackerrank/stock_max/__init__.py
  hackerrank/stock_max/stock_max.png
  hackerrank/stock_max/stock_max.py
  hackerrank/tests/__init__.py
  hackerrank/tests/test_counting_movies.py
  hackerrank/tests/test_first_unique_character.py
  hackerrank/tests/test_maximizing_profit_from_stocks.py
  hackerrank/tests/test_stock_max.py
  interview_questions/tests/test_items_in_containers.py
  interview_questions/tests/test_optimizing_box_weights.py
Due: run-pytest

chore: added aoc day 4 solution
  advent_of_code/2023/day_4/day_4.go
  advent_of_code/2023/day_4/day_4.txt
Due: none

chore: added daily problem solution
  algorithms/different_ways_to_add_parentheses.py
  algorithms/tests/test_different_ways_to_add_parentheses.py
Due: run-pytest

.
  algorithms/tests/test_binary_search.py
  algorithms/tests/test_different_ways_to_add_parentheses.py
Due: run-pytest

.
  algorithms/tests/test_array_partition.py
  algorithms/tests/test_baseball_game.py
  algorithms/tests/test_distribute_candies.py
  algorithms/tests/test_encode_and_decode_tinyurl.py
  algorithms/tests/test_fibonacci_number.py
  algorithms/tests/test_flipping_an_image.py
  algorithms/tests/test_insert_greatest_common_divisors_in_linked_list.py
  algorithms/tests/test_integer_to_english_words.py
  algorithms/tests/test_integer_to_roman.py
  algorithms/tests/test_jewels_and_stones.py
  algorithms/tests/test_keyboard_row.py
  algorithms/tests/test_longest_subarray_with_maximum_bitwise_and.py
  algorithms/tests/test_max_consecutive_ones.py
  algorithms/tests/test_partitioning_into_minimum_number_of_deci_binary_numbers.py
  algorithms/tests/test_reverse_integer.py
  algorithms/tests/test_robot_return_to_origin.py
Due: run-pytest

.
  .vscode/settings.json
  advent_of_code/2023/day_1/day_1.go
  advent_of_code/2023/day_2/day_2.go
  advent_of_code/2023/day_3/day_3.go
  advent_of_code/2023/day_4/day_4.go
Due: none

.
  algorithms/shortest_palindrome.py
  algorithms/tests/test_shortest_palindrome.py
Due: run-pytest

.
  algorithms/k_th_smallest_in_lexicographical_order.py
  algorithms/tests/test_k_th_smallest_in_lexicographical_order.py
  hackerrank/tests/test_maximizing_profit_from_stocks.py
Due: run-pytest

.
  algorithms/extra_characters_in_a_string.py
  algorithms/tests/test_extra_characters_in_a_string.py
Due: run-pytest

.
  algorithms/move_zeroes.py
  algorithms/tests/test_move_zeroes.py
Due: run-pytest

.
  database/combine-two-tables.sql
  database/recyclable-and-low-fat-products.sql
  database/replace-employee-id-with-the-unique-identifier.sql
Due: none

.
  algorithms/sum_of_prefix_scores_of_strings.py
  algorithms/tests/test_sum_of_prefix_scores_of_strings.py
  database/managers-with-at-least-5-direct-reports.sql
Due: run-pytest

.
  .envrc
Due: none

.
  database/not-boring-movies.sql
Due: none

.
  algorithms/my_calendar_ii.py
  algorithms/tests/test_my_calendar_ii.py
Due: run-pytest

.
  algorithms/design_circular_deque.py
  algorithms/tests/test_design_circular_deque.py
Due: run-pytest

.
  algorithms/design_a_stack_with_increment_operation.py
  algorithms/tests/test_design_a_stack_with_increment_operation.py
Due: run-pytest

.
  algorithms/rank_transform_of_an_array.py
  algorithms/tests/test_rank_transform_of_an_array.py
Due: run-pytest

.
  algorithms/check_if_array_pairs_are_divisible_by_k.py
  algorithms/tests/test_check_if_array_pairs_are_divisible_by_k.py
Due: run-pytest

.
  algorithms/make_sum_divisible_by_p.py
  algorithms/tests/test_make_sum_divisible_by_p.py
Due: run-pytest

.
  .vscode/settings.json
  algorithms/divide_players_into_teams_of_equal_skill.py
  algorithms/tests/test_divide_players_into_teams_of_equal_skill.py
Due: run-pytest

.
  .pre-commit-config.yaml
  package.json
Due: none

.
  .nvmrc
  algorithms/permutation_in_string.py
  algorithms/tests/test_permutation_in_string.py
  algorithms/tests/test_rank_transform_of_an_array.py
  pnpm-lock.yaml
Due: run-pytest

..
  .prettierrc
  algorithms/sentence_similarity_iii.py
  algorithms/tests/test_sentence_similarity_iii.py
Due: run-pytest

.
  algorithms/minimum_string_length_after_removing_substrings.py
  algorithms/tests/test_minimum_string_length_after_removing_substrings.py
Due: run-pytest

.
  algorithms/minimum_number_of_swaps_to_make_the_string_balanced.py
  algorithms/tests/test_minimum_number_of_swaps_to_make_the_string_balanced.py
Due: run-pytest
